<!-- home.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | A Django Girl's Adventure</title>
    <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://djangogirlstaipei.github.io/assets/css/style.css" rel=stylesheet>
</head>
<body>
    <div class="header">
        <h1 class="site-title text-center">
            <a href="/">A Django Girl's Adventure</a>
        </h1>
        <a href="/accounts/">account</a>
    </div>
    <div class="container {% block container-class %}{% endblock %}">
		{% block container %}{% endblock %}
    </div>
</body>
{% block script %}{% endblock %}
</html>
