{% extends "accounts/base.html" %}

{% block title %}index{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h1>Welcome back, {{ profile.user.username }}!</h1> Hohoho! <strong>{{ boldmessage }}</strong>
    <br />
	{{ profile.user.email }}
    <img src="{{ MEDIA_URL }}{{ profile.avatar }}">
    <a href="/accounts/logout/">Logout</a> {% else %}
    <h1>Login Please or Register Please!</h1>
    <a href="/accounts/login/">Login</a>
    <br /> {% endif %}
    <a href="/accounts/register/">Register Here</a>
{% endblock %}
